<h3 nz-typography style="text-align: center; font-size: 24px">
  <strong>DANH MỤC RIÊNG</strong>
</h3>

<!--Create new item-->
<app-button-add
  [btnName]="'Tạo danh mục mới'"
  [iconBtn]="'plus-circle'"
  style="font-size: 1rem"
  (click)="showModal()"
></app-button-add>

<!--table-->
<div>
  <nz-table
    #basicTable
    [nzData]="listOfData"
  >
    <thead>
      <tr class="head-style">
        <th>Tên</th>
        <th>Loại</th>
        <th>Thời gian tạo</th>
        <th>Sửa</th>
        <th>Xóa</th>
      </tr>
    </thead>
    <tbody style="text-align: center">
      <tr *ngFor="let data of basicTable.data">
        <td
          class="catalogue-name"
          style="border-radius: 1.5rem 0rem 0rem 1.5rem; padding: 0.5rem 2rem"
        >
          <app-icon-image
            [iconImg]="data.icon"
            style="margin-right: 2rem; margin-left: 3rem"
          ></app-icon-image>
          <span>{{ data.name }}</span>
        </td>
        <td *ngIf="data.type==1" style="color: #50505a">
          Thu
        </td>
        <td *ngIf="data.type==-1" style="color: #50505a">
          Chi
        </td>
        <td style="color: #50505a">
          {{ data.createAt | date : "yyyy-MM-dd" }}
        </td>
        <td style="text-align: center; font-size: 1.2rem">
          <span
            (click)="showModalEdit(data)"
            style="cursor: pointer"
            nz-icon
            nzType="edit"
            nzTheme="fill"
          ></span>
        </td>
        <td
          style="
            border-radius: 0rem 1.5rem 1.5rem 0rem;
            text-align: center;
            font-size: 1.2rem;
          "
        >
          <span
            (click)="showDeleteConfirm(data)"
            style="cursor: pointer"
            nz-icon
            nzType="delete"
            nzTheme="fill"
          ></span>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>

<!--Modal Add item-->
<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="addTitle"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
  nzOkText="Tạo mới"
>
  <ng-template #addTitle style="text-align: center"
    >Tạo danh mục mới</ng-template
  >
  <div *nzModalContent>
    <div>
      <label for="input-catalogue">Tên danh mục</label> <br />
      <input
        nz-input
        placeholder="Tên danh mục"
        [(ngModel)]="valueInputCatalogue"
        (ngModelChange)="onChange($event, valueInputCatalogue)"
        id="input-catalogue"
      />
      <br />
    </div>
    <div style="margin-top: 1.5rem; width: auto">
      <label for="input-catalogue">Tên icon</label> <br />
      <nz-select
        nzShowSearch
        nzAllowClear
        [(ngModel)]="catalogueIcon"
        (ngModelChange)="onChange($event, catalogueIcon)"
        style="width: 100%"
        nzLabel="catalogueIcon"
      >
        <nz-option
          *ngFor="let item of iconArray"
          [nzLabel]="item"
          [nzValue]="item"
          nzCustomContent
        >
          <app-icon-image [iconImg]="item"></app-icon-image>
        </nz-option>
      </nz-select>
    </div>
    <div style="margin-top: 1.5rem; width: auto">
      <label for="input-catalogue">Loại</label> <br />
      <nz-select
        nzShowSearch
        nzAllowClear
        [(ngModel)]="catalogueType"
        (ngModelChange)="onChange($event, catalogueType)"
        style="width: 100%"
        placeholder="Mặc định là thu"
        nzLabel="catalogueType"
      >
        <nz-option
          *ngFor="let item of catalogueTypeArray"
          [nzLabel]="item.label"
          [nzValue]="item.value"
        >
        </nz-option>
      </nz-select>
    </div>
  </div>
</nz-modal>

<!--Modal Edit-->
<nz-modal
  [(nzVisible)]="isVisibleEdit"
  [nzTitle]="editTitle"
  (nzOnCancel)="handleEditCancel()"
  (nzOnOk)="handleEditOk()"
>
  <ng-template #editTitle style="text-align: center"
    >Chỉnh sửa danh mục</ng-template
  >
  <ng-container *nzModalContent>
    <div>
      <label for="input-catalogue">Tên danh mục</label> <br />
      <input
        nz-input
        placeholder="Tên danh mục"
        [(ngModel)]="valueInputCatalogue"
        id="input-catalogue"
      />
      <br />
    </div>
    <div style="margin-top: 1.5rem; width: auto">
      <label for="input-catalogue">Tên icon</label> <br />
      <nz-select
      nzShowSearch
      nzAllowClear
      [(ngModel)]="catalogueIcon"
      (ngModelChange)="onChange($event, catalogueIcon)"
      style="width: 100%"
      nzLabel="catalogueIcon"
    >
      <nz-option
        *ngFor="let item of iconArray"
        [nzLabel]="item"
        [nzValue]="item"
        nzCustomContent
      >
        <app-icon-image [iconImg]="item"></app-icon-image>
      </nz-option>
    </nz-select>
    </div>
  </ng-container>
</nz-modal>

<!--Confirm-->
