<!-- <app-breadcrumb [listBreadCrumb]="listBreadCrumb"></app-breadcrumb> -->

<h3 nz-typography style="text-align: center; font-size: 24px; margin-bottom: 2rem;">
  <strong>BIỂU ĐỒ BÁO CÁO</strong>
</h3>

<div>
  <!--Filter-->
  <div class="filter-box">
    <div style="display: flex; align-items: center">
      <div class="filter-item">
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder=""
          [(ngModel)]="inOutcomeSelect"
          (ngModelChange)="onChange($event, inOutcomeSelect)"
        >
          <nz-option nzLabel="Thu" nzValue="1">Thu</nz-option>
          <nz-option nzLabel="Chi" nzValue="-1">Chi</nz-option>
        </nz-select>
      </div>

      <div class="filter-item">
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder=""
          [(ngModel)]="timeSelected"
          (ngModelChange)="onChangeTime($event)"
        >
          <nz-option nzLabel="Theo năm" nzValue="year"></nz-option>
          <nz-option nzLabel="Theo tháng" nzValue="month"></nz-option>
        </nz-select>
      </div>

      <div class="filter-item">
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder=""
          [(ngModel)]="yearSelected"
          (ngModelChange)="onChange($event, yearSelected)"
          [nzOptionOverflowSize]="5"
        >
          <nz-option
            *ngFor="let item of yearArray"
            nzLabel="{{ item }}"
            nzValue="{{ item }}"
          ></nz-option>
        </nz-select>
      </div>

      <div class="filter-item">
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder=""
          [(ngModel)]="monthSelected"
          (ngModelChange)="onChange($event, monthSelected)"
          [disabled]="isDisabled"
        >
          <nz-option
            *ngFor="let item of monthArray"
            nzLabel="{{ item.label }}"
            nzValue="{{ item.value }}"
          ></nz-option>
        </nz-select>
      </div>
    </div>
    <div class="filter-item" style="float: right">
      <span>Lọc theo</span>
      <nz-select
        style="margin-left: 1rem; width: 120px; text-align: center;"
        nzShowSearch
        nzAllowClear
        nzPlaceHolder=""
        [(ngModel)]="catalogueSelected"
        (ngModelChange)="onChangeCatalogue(catalogueSelected)"
        [nzOptionOverflowSize]="5"
      >
        <nz-option
          *ngFor="let item of catalogueArray"
          nzLabel="{{ item.label }}"
          nzValue="{{ item.value }}"
        ></nz-option>
      </nz-select>
    </div>
  </div>

  <!-- chart  -->
  <div nz-row [nzAlign]="'center'">
    <div nz-col [nzSpan]="9">
      <div style="width: 80%; margin-left: auto; margin-right: auto">
        <canvas
          baseChart
          [datasets]="pieChartNumberOfSpendingData"
          [labels]="pieChartNumberOfSpendingLabels"
          [options]="pieChartNumberOfSpendingOptions"
          [plugins]="pieChartNumberOfSpendingPlugins"
          [legend]="pieChartNumberOfSpendingLegend"
          [type]="pieChartNumberOfSpendingType"
        >
        </canvas>
      </div>
    </div>
    <div nz-col [nzSpan]="15">
      <div class="">
        <canvas
          baseChart
          [datasets]="barChartAccumulatedNumberOfCustomersData"
          [labels]="barChartAccumulatedNumberOfCustomersLabels"
          [options]="barChartAccumulatedNumberOfCustomersOptions"
          [plugins]="barChartAccumulatedNumberOfCustomersPlugins"
          [legend]="barChartAccumulatedNumberOfCustomersLegend"
          [type]="barChartAccumulatedNumberOfCustomersType"
        >
        </canvas>
      </div>
    </div>
  </div>

  <!--table-->
  <div nz-row style="margin-top: 3rem;">
    <div nz-col [nzSpan]="9">
      <nz-table #basicTable [nzData]="listOfData" 
      [nzTotal] = '2'
      style="width: 60%; margin-left: auto; margin-right: auto">
        <thead>
          <tr>
            <th>Tổng</th>
            <th style="color: #1890FF;">{{ totalAmount }} đ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listOfData">
            <td>{{ data.catalogue }}</td>
            <td>{{ data.amount }} đ</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div nz-col [nzSpan]="15">
      <nz-table #basicTable [nzData]="listOfData" style="width: 60%; margin-left: auto; margin-right: auto">
        <thead>
          <tr>
            <th>Tổng</th>
            <th style="color: #1890FF;">{{ totalAmountTime }} đ</th>
          </tr>
          <tr>
            <th>Trung bình</th>
            <th style="color: #1890FF;">{{ averageAmount }} đ</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of listOfDataTime">
            <td>{{ data.month }}</td>
            <td>{{ data.amount }} đ</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
